@model IEnumerable<Projektnippp.Models.Racun>

@{
    ViewBag.Title = "Index";
}

<h2>Pregled racuna</h2>
<p>
    @Html.ActionLink("Dodaj novi racun", "Create")
</p>
<br />
<br />
<br />
<div class="col-md-6" align="center">
    @using (Html.BeginForm("Index", "Racuni", FormMethod.Get))
    {
        <p>RacunId<br /> @Html.TextBox("racunid")<br /></p>
        <p>Status <br />@Html.TextBox("status")<br /></p>   
        <input type="submit" value="Pronadji racun" style="background:#4553c1 ;color:white; border-radius:5px; padding:5px;"/>
    }
</div>
<br />
<br />
<br />

<table class="table">
    <tr style="background-color:#4553c1; color:white;">
        <th>
            RacunId
        </th>
        <th>
            KartaId(za koju kartu izdat racun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Karta.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iznos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumVrijeme)
        </th>
        <th><center>AKCIJE</center></th>
    </tr>

@foreach (var item in Model) {
    <tr style="background-color:white; border:2px dotted #000000;">
        <td>
            @Html.DisplayFor(modelItem => item.RacunId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KartaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Karta.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iznos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumVrijeme)
        </td>
        <td  style="border:2px dotted #000000;">
            @Html.ActionLink("Promjeni", "Edit", new { id=item.RacunId }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.RacunId }) |
            @Html.ActionLink("Obrisi", "Delete", new { id=item.RacunId })
        </td>
    </tr>
}

</table>
