@model IEnumerable<Projektnippp.Models.Racun>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Karta.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iznos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumVrijeme)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Karta.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iznos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumVrijeme)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RacunId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RacunId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RacunId })
        </td>
    </tr>
}

</table>
